<!doctype html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>jQTouch &beta;</title>
		<style>@import "/static/jqtouch/jqtouch.css";</style>
        <style>@import "/static/themes/apple/theme.css";</style>
		<style>@import "/static/extensions/jqt.scroll.css";</style>
		
        <script src="/static/jqtouch/jquery-1.4.2.min.js"></script>
        <script src="/static/jqtouch/jqtouch.js"></script>
		<script src="/static/extensions/jqt.scroll.js"></script>

        <script>
            var jQT = new $.jQTouch({
                icon: 'jqtouch.png',
                addGlossToIcon: false,
                startupScreen: 'jqt_startup.png',
                statusBar: 'black',
                preloadImages: [
                    '/static/themes/jqt/img/back_button.png',
                    '/static/themes/jqt/img/back_button_clicked.png',
                    '/static/themes/jqt/img/button_clicked.png',
                    '/static/themes/jqt/img/grayButton.png',
                    '/static/themes/jqt/img/whiteButton.png',
                    '/static/themes/jqt/img/loading.gif'
                    ],
				slideSelector: '.slide'
            });

        </script>
    </head>
    <body>
		<div id="jqt">
	        <div id="item1" class="content current">
				<div class="toolbar">
					<h1></h1>
					<a class="button slideup" id="infoButton" href="#about">Filter</a>
				</div>

				<div class="scroll">
					<ul class="rounded">
		                <li><a class="slide" href="#animdemo">Slide</a></li>
		                <li><a class="slideup" href="#animdemo">Slide Up</a></li>
		                <li><a class="dissolve" href="#animdemo">Dissolve</a></li>
		                <li><a class="fade" href="#animdemo">Fade</a></li>
		                <li><a class="flip" href="#animdemo">Flip</a></li>
		                <li><a class="pop" href="#animdemo">Pop</a></li>
		                <li><a class="swap" href="#animdemo">Swap</a></li>
		                <li><a class="cube" href="#animdemo">Cube</a></li>
		                <li><a class="slide" href="#animdemo">Slide</a></li>
		                <li><a class="slideup" href="#animdemo">Slide Up</a></li>
		                <li><a class="dissolve" href="#animdemo">Dissolve</a></li>
		                <li><a class="fade" href="#animdemo">Fade</a></li>
		                <li><a class="flip" href="#animdemo">Flip</a></li>
		                <li><a class="pop" href="#animdemo">Pop</a></li>
		                <li><a class="swap" href="#animdemo">Swap</a></li>
		                <li><a class="cube" href="#animdemo">Cube</a></li>
		                <li><a class="slide" href="#animdemo">Slide</a></li>
		                <li><a class="slideup" href="#animdemo">Slide Up</a></li>
		                <li><a class="dissolve" href="#animdemo">Dissolve</a></li>
		                <li><a class="fade" href="#animdemo">Fade</a></li>
		                <li><a class="flip" href="#animdemo">Flip</a></li>
		                <li><a class="pop" href="#animdemo">Pop</a></li>
		                <li><a class="swap" href="#animdemo">Swap</a></li>
		                <li><a class="cube" href="#animdemo">Cube</a></li>
		                <li><a class="slide" href="#animdemo">Slide</a></li>
		                <li><a class="slideup" href="#animdemo">Slide Up</a></li>
		                <li><a class="dissolve" href="#animdemo">Dissolve</a></li>
		                <li><a class="fade" href="#animdemo">Fade</a></li>
		                <li><a class="flip" href="#animdemo">Flip</a></li>
		                <li><a class="pop" href="#animdemo">Pop</a></li>
		                <li><a class="swap" href="#animdemo">Swap</a></li>
		                <li><a class="cube" href="#animdemo">Cube</a></li>
		            </ul>
				</div>
			</div>
		
			<div id="item2" class="content">
				<div class="toolbar">
					<h1>TouchScroll</h1>
				</div>

				<div class="scroll">
					<h2>TouchScroll by <a href="http://uxebu.com/blog/2010/04/27/touchscroll-a-scrolling-layer-for-webkit-mobile/" rel="external">David Aurelio</a></h2>
					<div class="info">
						<p>
						 Copyright (C) 2010 uxebu Consulting Ltd. &amp; Co. KG
						 Copyright (C) 2010 David Aurelio
						 Copyright (C) 2008 Apple Inc.
						 All Rights Reserved.
						</p>
						
						<p>
						 Redistribution and use in source and binary forms, with or without
						 modification, are permitted provided that the following conditions
						 are met:
						</p>
						<ol>
						 <li>Redistributions of source code must retain the above copyright
						 notice, this list of conditions and the following disclaimer.</li>
						 <li>Redistributions in binary form must reproduce the above copyright
						 notice, this list of conditions and the following disclaimer in the
						 documentation and/or other materials provided with the distribution.</li>
						</ol>
						
						<p>
						 THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS "AS IS"
						 AND ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE
						 IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE
						 ARE DISCLAIMED. IN NO EVENT SHALL THE COPYRIGHT HOLDERS OR CONTRIBUTORS BE
						 LIABLE FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR
						 CONSEQUENTIAL DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF
						 SUBSTITUTE GOODS OR SERVICES; LOSS OF USE, DATA, OR PROFITS; OR BUSINESS
						 INTERRUPTION) HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY, WHETHER IN
						 CONTRACT, STRICT LIABILITY, OR TORT (INCLUDING NEGLIGENCE OR OTHERWISE)
						 ARISING IN ANY WAY OUT OF THE USE OF THIS SOFTWARE, EVEN IF ADVISED OF THE
						 POSSIBILITY OF SUCH DAMAGE.
						</p>
					</div>
				</div>
			</div>
		
			<div id="item3" class="content">
				<div class="toolbar">
					<h1>jqtscroll</h1>
				</div>

				<div class="scroll">
					<h2>jqtscroll by <a href="http://code.google.com/p/jqtscroll/" rel="external">Wojciech Bednarski</a></h2>
					<div class="info">
					<p>	Copyright (c) 2010 Wojciech Bednarski, http://wojciechbednarski.com</p>
					
					<p>Permission is hereby granted, free of charge, to any person obtaining a copy
						of this software and associated documentation files (the "Software"), to deal
						in the Software without restriction, including without limitation the rights
						to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
						copies of the Software, and to permit persons to whom the Software is
						furnished to do so, subject to the following conditions:</p>
					<ol>
						<li>The above copyright notice and this permission notice shall be included in
						all copies or substantial portions of the Software.</li>
					</ol>

					<p>THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
						IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
						FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
						AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
						LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
						OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN
						THE SOFTWARE.</p>
					</div>
				</div>
			</div>
		
			<div id="animdemo" class="content">
				<div class="toolbar">
					<h1>Test</h1>
					<a class="back" href="#">Back</a>
				</div>

				<div class="scroll">
					<div class="info">
			            <p>Pretty smooth, eh?</p>
			        </div>
				</div>
			</div>
			
			<!-- 
			
			Scroll container template
			
			<div id="someId" class="content">
				<div class="toolbar">
					<h1>Hello!</h1>
				</div>

				<div class="scroll">
					Scrolled content goes here!
				</div>
			</div>
			
			-->
		
			<nav id="tabbar">
				<ul>
					<li><a href="#map" class="fade current">Map</a></li>
					<li><a href="#list" class="fade">List</a></li>
					<li><a href="#profile" class="fade">Profile</a></li>
					<li><a href="add" class="fade">Add Event</a></li>
				</ul>
			</nav>
		</div>
    </body>
</html>
