.formError {
	color:red;
}

.secondary {
  color: gray;
}

p {
	text-align: center;
	font-family: arial;
	font-size: 16px;
}

div#jqt #add_event form input[type="text"] {
	color: white;
}

div#jqt #add_event form textarea {
	color: white;
}

div#jqt #settings ul li {
	color: white;
}

div#jqt #settings .selected {
	background: black;
	border: white solid 1px;
}
