.formError {
	color:red;
}

p {
	text-align: center;
	font-family: arial;
	font-size: 16px;
}

div#jqt #list .upperrow {
	height: 36px;
	font-size: 24px;
}

div#jqt #list .lowerrow {
	height: 16px;
	color: gray;
	font-size: 16px;
}

div#jqt #list .leftcol {
	width: 62px;
	text-align: center;
}

div#jqt #add_event form input[type="text"] {
	color: white;
}

div#jqt #add_event form textarea {
	color: white;
}

div#jqt #settings ul li {
	color: white;
}

div#jqt #settings .selected {
	background: black;
	border: white solid 1px;
}
